In [1]:
# comma separated : 데이터,데이터,데이터 (csv)
# tap separated : 데이터</t>데이터</t>데이터 (tsv)

In [2]:
!dir #현재 디렉토리에 있는 파일 확인해주는 명령어

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 069E-6E31

 C:\Users\HJW\확률및통계 디렉터리

2021-09-27  오후 01:17    <DIR>          .
2021-09-27  오후 01:17    <DIR>          ..
2021-09-27  오후 01:14    <DIR>          .ipynb_checkpoints
2021-09-21  오후 12:34         1,041,415 2002FemPreg.dat.gz
2021-09-21  오후 12:34            28,362 2002FemPreg.dct
2021-09-21  오후 12:34         7,581,918 2002FemPreg.tsv
2021-09-21  오후 12:34         3,364,975 2002FemResp.dat.gz
2021-09-21  오후 12:34           361,722 2002FemResp.dct
2021-09-21  오후 12:34        36,630,432 2002FemResp.tsv
2021-09-21  오후 12:34             6,275 analytic.py
2021-09-21  오후 12:34             3,674 babyboom.dat
2021-09-21  오후 12:34               727 babyboom.tsv
2021-09-21  오후 12:34             4,718 brfss.py
2021-09-21  오후 12:34        20,068,506 BRFSS.tsv
2021-09-21  오후 12:34        44,213,967 CDBRFS08.ASC.gz
2021-09-21  오후 12:34             4,556 nsfg.py
2021-09-21  오후 12:34           129,535 PEP_2012_PEPANNRES_with_ann.tsv
2021-09-21  오후 12:34             2,609 populations.py
2021-09-10  오후 05:17            36,768 STAT_Week2~3.ipynb
2021-09-27  오후 01:17               692 STAT_Week3.ipynb
2021-09-21  오후 12:34            22,756 thinkplot.py
2021-09-21  오후 12:34            75,264 thinkstats2.py
2021-09-10  오후 06:26            23,960 WEEK01_PythonBasics.ipynb
2021-09-27  오후 01:05            19,537 WEEK02_PythonBasics2.ipynb
2021-09-27  오후 01:16            52,178 WEEK03_NoSolution-checkpoint.ipynb
2021-09-21  오후 12:34            53,101 WEEK03_WithSolution.ipynb
2021-09-21  오후 12:34           118,252 WEEK04_NoSolution.ipynb
              24개 파일         113,845,899 바이트
               3개 디렉터리  23,655,358,464 바이트 남음

In [6]:
import nsfg #교과서 저자가 만들어놓은 라이브러리 호출
import pandas as pd

In [4]:
preg = nsfg.ReadFemPreg()

In [5]:
preg

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
5,6,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.5625
6,6,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,9.5625
7,6,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.3750
8,7,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,7.5625
9,7,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,6.6250
10,12,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3612.781968,4146.013572,6909.331618,1,31,NaN,7.8125
11,14,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.069494,2810.302771,3039.904507,2,56,NaN,7.0000
12,14,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.069494,2810.302771,3039.904507,2,56,NaN,4.0000
13,14,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2418.069494,2810.302771,3039.904507,2,56,NaN,NaN
14,15,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1667.816099,3200.862017,5553.495599,1,33,NaN,NaN
15,15,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1667.816099,3200.862017,5553.495599,1,33,NaN,7.6875
16,15,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1667.816099,3200.862017,5553.495599,1,33,NaN,7.5000
17,18,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2957.257457,3404.403067,4153.371741,2,14,NaN,6.3125
18,18,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,2957.257457,3404.403067,4153.371741,2,14,NaN,NaN
19,21,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3408.342437,3965.763949,7237.122630,1,48,NaN,8.7500
20,21,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3408.342437,3965.763949,7237.122630,1,48,NaN,8.1875
21,23,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,6210.373020,8120.841310,13533.382043,2,64,NaN,5.5625
22,23,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,6210.373020,8120.841310,13533.382043,2,64,NaN,NaN
23,24,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3409.573258,4068.628645,7424.840414,1,27,NaN,6.7500
24,24,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3409.573258,4068.628645,7424.840414,1,27,NaN,7.3750
25,24,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3409.573258,4068.628645,7424.840414,1,27,NaN,6.8125
26,28,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3407.794208,3808.343516,6949.846082,2,57,NaN,8.1250
27,31,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3405.679025,4272.084519,5211.943113,1,2,NaN,7.1250
28,31,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3405.679025,4272.084519,5211.943113,1,2,NaN,6.0625
29,31,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3405.679025,4272.084519,5211.943113,1,2,NaN,7.4375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13563,12547,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3453.545517,6628.022524,11499.619080,1,52,NaN,7.6875
13564,12547,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3453.545517,6628.022524,11499.619080,1,52,NaN,7.6250
13565,12550,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3080.452699,3745.326058,5268.550165,1,79,NaN,8.1250
13566,12551,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2418.538866,3653.453268,3951.940400,2,75,NaN,7.5000
13567,12554,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1914.676604,2177.957240,2764.045534,2,75,NaN,NaN
13568,12554,2,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,0,0,0,1914.676604,2177.957240,2764.045534,2,75,NaN,NaN
13569,12556,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,5.8125
13570,12556,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,6.6875
13571,12556,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,6.0000
13572,12556,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,5.8125
13573,12561,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.089703,2698.650781,4497.301527,1,10,NaN,6.5625
13574,12561,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.089703,2698.650781,4497.301527,1,10,NaN,6.1250
13575,12564,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1820.850938,2129.214067,2768.191208,2,44,NaN,NaN
13576,12565,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3195.641221,3834.241709,6652.409365,1,78,NaN,6.4375
13577,12565,2,35.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,3195.641221,3834.241709,6652.409365,1,78,NaN,NaN
13578,12566,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2080.317155,2422.820274,2627.548587,2,2,NaN,6.0000
13579,12566,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2080.317155,2422.820274,2627.548587,2,2,NaN,7.0000
13580,12568,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,2734.687353,4258.980140,7772.212858,2,28,NaN,NaN
13581,12568,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2734.687353,4258.980140,7772.212858,2,28,NaN,6.3750
13582,12568,3,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,0,0,0,2734.687353,4258.980140,7772.212858,2,28,NaN,NaN
13583,12569,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2580.967613,2925.167116,5075.164946,2,61,NaN,NaN
13584,12569,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2580.967613,2925.167116,5075.164946,2,61,NaN,6.3750
13585,12570,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5181.311509,6205.829154,11325.017623,2,40,NaN,NaN
13586,12570,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5181.311509,6205.829154,11325.017623,2,40,NaN,NaN
13587,12570,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5181.311509,6205.829154,11325.017623,2,40,NaN,NaN
13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,6.1875
13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000
13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000

In [8]:
#직접 tsv 파일 읽는방법 (판다스 라이브러리 사용)
import pandas as pd

preg = pd.read_csv("./2002FemPreg.tsv", sep = "\t") #기본은 csv로 되어있는데, 우리는 tsv를 읽어야하므로 sep을 지정해줌. 데이터의 칼럼을 구분하는 문자를 지정할 수 있다 -> tab으로 지정)
preg.head() #데이터를 읽어온다.

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [10]:
preg.columns #칼럼 이름 확인. 총 244개이다. 마지막에 length나옴

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [12]:
preg.columns[1] #리턴시키고 싶은 번째의 칼럼 조회 가능

'pregordr'

In [15]:
# DataFrame : 여러개의 칼럼으로 되어있는 자료형
# Series : 1개의 칼럼만 있는 것
#즉, 위의 표에서 세로 한줄 한줄이 시리즈, 데이터프레임은 시리즈를 모두 붙여놓은 것이다.

print(type(preg)) #판다스의 코어 프레임의 데이터프레임이라는 자료형으로 구성되어있다.

<class 'pandas.core.frame.DataFrame'>

In [21]:
print(type(preg['pregordr'])) #preg안의 pregordr이라는 칼럼의 데이터 타입은 시리즈

<class 'pandas.core.series.Series'>

In [24]:
preg['pregordr'] #해당 시리즈를 기준으로 왼쪽 숫자는 인덱스 (연속적이지 않을 수 있다), 
# 특정한 위치의 값을 조회하고 싶은 경우 []안에 인덱스 값입력하여 출력

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [26]:
preg['pregordr'][1]

2

In [29]:
preg['pregordr'][3:5] #리스트처럼 슬라이싱 가능

3    2
4    3
Name: pregordr, dtype: int64

In [32]:
preg.pregordr 
#preg['pregordr']과 출력값 같음 < 이게 더 깔끔한듯 ?

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [35]:
preg['outcome'].value_counts() 
#해당 칼럼 안의 값들이 크기 순서로 출력된다. (인덱스 순서와 무관, 왼쪽 값이 인덱스)

1    9148
4    1921
2    1862
6     352
5     190
3     120
Name: outcome, dtype: int64

In [36]:
preg['outcome'].value_counts().sort_index() #인덱스 순서로 정렬하고 싶은 경우

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [38]:
preg['birthwgt_lb'].value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

In [40]:
#딕셔너리 만들기
# 케이스id : 표 맨 앞의 caseid (1번 사람의 답변.. 2번사람의 답변.. 이런식의 데이터임)

caseid = 10229 #10229번의 데이터를 보기 위해 변수 지정
preg_map = nsfg.MakePregMap(preg) #preg 데이터를 변수안에 담기
preg.outcome[preg_map[10229]].values #10229번의 value를 꺼내와서 확인하기

#출력된 값은 번호로 어떤 유형인지 매칭되어있다 (4 - 유산, 1 - 출산 ...)

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

In [41]:
preg_map[10229] #10229번의 데이터 인덱스 값 확인 가능

[11093, 11094, 11095, 11096, 11097, 11098, 11099]

In [42]:
preg[11093:11100] #나온 인덱스 값으로 슬라이싱하여 데이터를 확인할 수 있다

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
11093,10229,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11094,10229,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11095,10229,3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11096,10229,4,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11097,10229,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11098,10229,6,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11099,10229,7,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,7.6875

In [47]:
#★
from collections import defaultdict #딕셔너리(키,벨류) 키가 없는걸 조회하고싶다면 공백리스트를 만들어서 사용할 수 있다. 그걸 위한 라이브러리
preg_map2 = defaultdict(list) #preg_map2를 디폴트 딕셔너리로 지정함
for idx, caseid in preg.caseid.iteritems(): #표의 데이터를 한줄(아래쪽으로 한줄 한줄)씩 iteratior 하게 된다.
    preg_map2[caseid].append(idx) #caseid의 값을 돌면서 인덱스를 하나씩 추가함
    
preg.outcome[preg_map2[10229]].values
#위와 동일한 값이 나옵니다

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

In [50]:
# 실습 ~
preg["birthord"].value_counts() #태어난 순서의 값 카운트하기

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

In [52]:
preg["birthord"].isnull().sum() #공백인 값들만 리턴.

4445

In [56]:
preg["birthord"].isnull()
#false는 공백이 아님, true는 공백인 값들 (null인지 아닌지를 체크한다)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13        True
14        True
15       False
16       False
17       False
18        True
19       False
20       False
21       False
22        True
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
13563    False
13564    False
13565    False
13566    False
13567     True
13568     True
13569    False
13570    False
13571    False
13572    False
13573    False
13574    False
13575     True
13576    False
13577     True
13578    False
13579    False
13580     True
13581    False
13582     True
13583     True
13584    False
13585     True
13586     True
13587     True
13588    False
13589     True
13590     True
13591    False
13592    False
Name: birthord, Length: 13593, dtype: bool

In [61]:
preg["prglngth"].value_counts().sort_index()

0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
Name: prglngth, dtype: int64

In [79]:
#태어났을 때 평균 무게 구하기
preg['totalwgt_lb'].mean() #토탈웨이트의 평균 무게 계산(산술평균) 명령어

7.265628457623368

In [80]:
# pound(lb) -> kg으로 변경하고 싶은 경우!

def lb_to_kg(weightinlb):
    return 0.45359237 * weightinlb
preg["totalwgt_kg"] = preg["totalwgt_lb"].apply(lb_to_kg) #apply : 한 값을 조회해서 함수 안의 식으로 계산하여 결과값을 시리즈로 만들어준다. 즉, 새로운 칼럼을 만들어냄

In [81]:
preg[["totalwgt_lb","totalwgt_kg"]] #칼럼 이름을 리스트의 요소로 주변 칼럼 안의 데이터프레임을 반환해준다

       totalwgt_lb  totalwgt_kg
0           8.8125     3.997283
1           7.8750     3.572040
2           9.1250     4.139030
3           7.0000     3.175147
4           6.1875     2.806603
5           8.5625     3.883885
6           9.5625     4.337477
7           8.3750     3.798836
8           7.5625     3.430292
9           6.6250     3.005049
10          7.8125     3.543690
11          7.0000     3.175147
12          4.0000     1.814369
13             NaN          NaN
14             NaN          NaN
15          7.6875     3.486991
16          7.5000     3.401943
17          6.3125     2.863302
18             NaN          NaN
19          8.7500     3.968933
20          8.1875     3.713788
21          5.5625     2.523108
22             NaN          NaN
23          6.7500     3.061748
24          7.3750     3.345244
25          6.8125     3.090098
26          8.1250     3.685438
27          7.1250     3.231846
28          6.0625     2.749904
29          7.4375     3.373593
...            ...          ...
13563       7.6875     3.486991
13564       7.6250     3.458642
13565       8.1250     3.685438
13566       7.5000     3.401943
13567          NaN          NaN
13568          NaN          NaN
13569       5.8125     2.636506
13570       6.6875     3.033399
13571       6.0000     2.721554
13572       5.8125     2.636506
13573       6.5625     2.976700
13574       6.1250     2.778253
13575          NaN          NaN
13576       6.4375     2.920001
13577          NaN          NaN
13578       6.0000     2.721554
13579       7.0000     3.175147
13580          NaN          NaN
13581       6.3750     2.891651
13582          NaN          NaN
13583          NaN          NaN
13584       6.3750     2.891651
13585          NaN          NaN
13586          NaN          NaN
13587          NaN          NaN
13588       6.1875     2.806603
13589          NaN          NaN
13590          NaN          NaN
13591       7.5000     3.401943
13592       7.5000     3.401943

[13593 rows x 2 columns]

In [82]:
preg["totalwgt_kg2"] = preg["totalwgt_lb"] *0.45359237
preg["totalwgt_kg2"] #위와 동일한 값 출력, 함수 없이 간단하게 가능

0        3.997283
1        3.572040
2        4.139030
3        3.175147
4        2.806603
5        3.883885
6        4.337477
7        3.798836
8        3.430292
9        3.005049
10       3.543690
11       3.175147
12       1.814369
13            NaN
14            NaN
15       3.486991
16       3.401943
17       2.863302
18            NaN
19       3.968933
20       3.713788
21       2.523108
22            NaN
23       3.061748
24       3.345244
25       3.090098
26       3.685438
27       3.231846
28       2.749904
29       3.373593
           ...
13563    3.486991
13564    3.458642
13565    3.685438
13566    3.401943
13567         NaN
13568         NaN
13569    2.636506
13570    3.033399
13571    2.721554
13572    2.636506
13573    2.976700
13574    2.778253
13575         NaN
13576    2.920001
13577         NaN
13578    2.721554
13579    3.175147
13580         NaN
13581    2.891651
13582         NaN
13583         NaN
13584    2.891651
13585         NaN
13586         NaN
13587         NaN
13588    2.806603
13589         NaN
13590         NaN
13591    3.401943
13592    3.401943
Name: totalwgt_kg2, Length: 13593, dtype: float64

In [84]:
preg[["totalwgt_kg", "totalwgt_kg2", "totalwgt_lb"]] #리스트의 인자로 준 세개의 칼럼의 값이 출력된다.

       totalwgt_kg  totalwgt_kg2  totalwgt_lb
0         3.997283      3.997283       8.8125
1         3.572040      3.572040       7.8750
2         4.139030      4.139030       9.1250
3         3.175147      3.175147       7.0000
4         2.806603      2.806603       6.1875
5         3.883885      3.883885       8.5625
6         4.337477      4.337477       9.5625
7         3.798836      3.798836       8.3750
8         3.430292      3.430292       7.5625
9         3.005049      3.005049       6.6250
10        3.543690      3.543690       7.8125
11        3.175147      3.175147       7.0000
12        1.814369      1.814369       4.0000
13             NaN           NaN          NaN
14             NaN           NaN          NaN
15        3.486991      3.486991       7.6875
16        3.401943      3.401943       7.5000
17        2.863302      2.863302       6.3125
18             NaN           NaN          NaN
19        3.968933      3.968933       8.7500
20        3.713788      3.713788       8.1875
21        2.523108      2.523108       5.5625
22             NaN           NaN          NaN
23        3.061748      3.061748       6.7500
24        3.345244      3.345244       7.3750
25        3.090098      3.090098       6.8125
26        3.685438      3.685438       8.1250
27        3.231846      3.231846       7.1250
28        2.749904      2.749904       6.0625
29        3.373593      3.373593       7.4375
...            ...           ...          ...
13563     3.486991      3.486991       7.6875
13564     3.458642      3.458642       7.6250
13565     3.685438      3.685438       8.1250
13566     3.401943      3.401943       7.5000
13567          NaN           NaN          NaN
13568          NaN           NaN          NaN
13569     2.636506      2.636506       5.8125
13570     3.033399      3.033399       6.6875
13571     2.721554      2.721554       6.0000
13572     2.636506      2.636506       5.8125
13573     2.976700      2.976700       6.5625
13574     2.778253      2.778253       6.1250
13575          NaN           NaN          NaN
13576     2.920001      2.920001       6.4375
13577          NaN           NaN          NaN
13578     2.721554      2.721554       6.0000
13579     3.175147      3.175147       7.0000
13580          NaN           NaN          NaN
13581     2.891651      2.891651       6.3750
13582          NaN           NaN          NaN
13583          NaN           NaN          NaN
13584     2.891651      2.891651       6.3750
13585          NaN           NaN          NaN
13586          NaN           NaN          NaN
13587          NaN           NaN          NaN
13588     2.806603      2.806603       6.1875
13589          NaN           NaN          NaN
13590          NaN           NaN          NaN
13591     3.401943      3.401943       7.5000
13592     3.401943      3.401943       7.5000

[13593 rows x 3 columns]

In [86]:
#설문조사 결과 파일 불러오기
resp = pd.read_csv("./2002FemResp.tsv", sep = '\t')
resp #파일을 읽어와서 데이터 프레임의 형태로 조회 가능

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667
5,845,1,5,4,1,5.0,42,42,727,42,...,0,2335.279149,3725.796795,4705.681352,2,18,1234,1222,17:10:13,95.488000
6,10333,5,5,3,1,5.0,17,17,1029,17,...,0,2335.279149,2687.399758,3139.151658,2,18,1236,1224,14:14:38,61.204333
7,855,5,5,4,5,5.0,22,22,965,22,...,0,4670.558298,7122.614751,10019.382170,2,18,1235,1223,14:42:52,59.756333
8,8656,5,5,4,1,5.0,38,38,780,38,...,0,5198.652195,6027.568848,6520.021223,2,18,1237,1225,15:32:34,56.978833
9,3566,5,5,4,5,5.0,21,21,974,21,...,0,2764.142038,3240.986558,4559.095792,2,18,1231,1219,16:22:25,104.744667
10,5917,1,5,3,1,5.0,44,43,714,43,...,0,2418.624283,2762.143030,3488.586646,2,18,1233,1221,15:38:06,96.850167
11,9200,5,5,3,1,5.0,26,26,923,26,...,0,2418.624283,2754.293339,2987.031126,2,18,1237,1225,14:12:31,61.060667
12,6320,5,5,5,5,1.0,23,23,952,23,...,0,5497.225851,6448.332868,7241.477811,1,18,1236,1224,14:27:20,69.906500
13,11700,1,5,4,1,5.0,34,34,822,34,...,0,3362.448309,3677.062170,4666.559600,1,18,1236,1224,11:35:31,77.493333
14,7354,1,5,4,1,5.0,28,28,896,28,...,0,2417.628123,2790.899197,3026.730179,1,18,1235,1223,14:40:18,79.018500
15,3697,5,5,4,5,5.0,28,28,896,28,...,0,9670.512492,18559.585881,31215.367494,1,18,1236,1224,11:59:26,45.963500
16,4881,1,5,5,1,5.0,23,23,948,23,...,0,3292.089359,3935.302679,4419.344908,1,18,1234,1222,20:37:54,110.416833
17,5862,1,5,4,1,5.0,33,33,831,33,...,0,3056.771190,3456.489520,4386.630850,1,18,1234,1222,16:42:13,107.819667
18,8542,5,5,5,5,5.0,16,16,1036,16,...,0,5900.163872,6697.056170,7822.831313,1,18,1237,1225,13:04:36,72.481500
19,2054,1,5,4,5,1.0,24,24,939,24,...,0,2417.628123,2570.384230,2886.541491,1,18,1236,1224,13:58:43,87.417500
20,3719,5,5,2,5,5.0,22,22,972,22,...,1,4168.324350,4879.253694,5479.401898,1,18,1238,1226,12:50:26,53.782000
21,11740,1,5,5,1,5.0,32,32,843,32,...,0,2417.628123,2790.899197,3541.930171,1,18,1234,1222,14:23:08,92.950500
22,11343,1,5,5,1,5.0,41,41,741,41,...,0,2417.628123,4394.216361,5549.895265,1,18,1237,1225,20:29:06,70.791667
23,7075,1,5,4,1,5.0,37,37,782,37,...,0,4308.038516,5562.306199,6016.746616,2,18,1232,1220,16:30:34,80.659000
24,5422,1,5,2,1,5.0,38,38,773,38,...,0,3363.768618,3948.605534,4271.206606,1,18,1234,1222,17:07:52,45.171500
25,2178,5,5,3,1,5.0,29,29,877,29,...,0,3363.768618,5306.521605,5754.922681,1,18,1234,1222,18:28:12,77.489833
26,8358,5,5,4,5,5.0,21,21,977,21,...,0,2418.624283,2688.131135,3018.771264,2,18,1237,1225,16:10:17,28.934833
27,5083,1,5,4,1,5.0,37,37,789,37,...,0,2418.624283,3119.659072,3374.535218,2,18,1236,1224,15:14:10,58.307000
28,1545,5,5,4,1,5.0,39,39,762,39,...,0,8034.280664,8972.807739,9705.886131,2,18,1237,1225,14:09:31,53.124833
29,5656,5,5,3,5,5.0,26,26,921,26,...,0,4170.041867,6582.846660,7139.097203,2,18,1238,1226,11:20:54,61.501000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7613,4640,5,5,6,5,5.0,18,18,1016,18,...,0,2273.045919,5800.771072,10202.976239,1,76,1234,1222,12:01:09,84.903833
7614,3998,5,5,2,5,5.0,24,24,935,24,...,0,3544.869231,4031.967457,5671.768622,1,76,1228,1216,17:11:53,106.922500
7615,2432,5,5,5,5,5.0,15,15,1048,15,...,0,7576.875171,8452.387480,14866.904339,2,76,1234,1222,16:41:31,40.803333
7616,5438,1,5,3,5,5.0,30,30,862,30,...,0,2273.062551,2559.633775,4440.964600,2,76,1229,1217,12:50:02,86.785000
7617,9643,1,5,2,5,5.0,24,24,929,24,...,0,2597.785773,2969.368501,4177.010670,2,76,1229,1217,12:26:15,89.036000
7618,3030,1,5,1,5,5.0,34,34,811,34,...,0,2273.062551,2525.629369,4381.966956,2,76,1229,1217,14:23:39,80.175667
7619,11585,1,5,4,5,5.0,34,34,814,34,...,0,1720.605492,2260.899193,3922.660100,1,76,1228,1216,15:59:28,113.677500
7620,6677,1,5,4,1,5.0,26,26,909,26,...,0,3613.271533,4035.558807,4376.563526,1,76,1227,1215,16:35:57,110.918333
7621,10744,5,5,8,5,1.0,22,22,968,22,...,0,3082.751506,3278.300013,4611.584628,1,76,1234,1222,14:08:25,95.713167
7622,8403,5,5,4,5,5.0,19,19,995,19,...,0,2408.847688,2563.254954,4508.509139,1,76,1228,1216,17:36:32,62.217000
7623,7574,5,5,4,5,5.0,19,19,997,19,...,0,2272.098197,2482.173894,4365.895661,2,76,1228,1216,16:09:34,96.809833
7624,8000,1,5,5,5,5.0,37,37,780,37,...,0,4544.196393,4924.699453,8987.084031,2,76,1227,1215,16:40:18,140.088333
7625,6288,5,1,3,5,2.0,20,20,986,20,...,0,2272.098197,2585.825443,3637.480651,2,76,1227,1215,17:40:15,93.622333
7626,5856,5,5,6,5,3.0,23,23,958,23,...,0,12456.163382,31787.898176,44716.036364,1,76,1238,1226,16:04:09,69.623500
7627,8794,1,5,3,5,5.0,23,23,945,23,...,0,6818.699775,7950.887074,11184.512847,1,76,1228,1216,18:23:51,77.508000
7628,6365,5,5,3,5,2.0,17,17,1028,17,...,0,2272.899925,3456.977988,6080.478584,1,76,1235,1223,17:15:36,46.016667
7629,3537,1,5,3,5,2.0,36,36,797,36,...,0,3918.792974,5258.971089,9597.096340,1,76,1239,1227,15:19:09,85.378000
7630,1515,1,5,1,5,5.0,44,44,688,44,...,0,2272.899925,2680.745920,4467.463075,1,76,1228,1216,16:23:34,147.769667
7631,9174,1,5,3,5,3.0,32,32,834,32,...,0,2272.899925,2608.931475,4526.496109,1,76,1228,1216,17:30:08,171.005000
7632,4213,1,5,3,5,2.0,40,40,748,40,...,0,2272.948899,2659.474205,4432.013762,2,76,1229,1217,09:47:43,99.248667
7633,6804,5,5,3,5,2.0,35,35,805,35,...,0,3247.069856,3814.222882,6960.575338,2,76,1229,1217,14:20:39,103.929167
7634,1282,1,5,4,5,3.0,35,35,798,35,...,0,2068.394620,2222.154405,4055.209574,1,76,1228,1216,16:31:47,105.509000
7635,2954,1,5,4,5,3.0,30,30,862,30,...,0,2068.394620,2356.019463,4087.693768,1,76,1228,1216,19:40:51,85.290167
7636,4964,1,5,3,5,3.0,41,41,727,41,...,0,2068.394620,2222.154405,3703.220316,1,76,1227,1215,12:38:19,306.238000
7637,143,1,5,1,5,2.0,35,35,808,35,...,0,2273.211779,2463.724427,4496.050707,2,76,1230,1218,17:45:36,83.798833
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [87]:
resp.tail() #뒤에서부터 5개의 자료 조회

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [88]:
resp.head() #앞에서부터 5개의 자료 조회

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

In [89]:
#최대, 최소값 구하기
resp["age_r"].max() #age_r 칼럼의 최대값 출력

44

In [90]:
resp["age_r"].min()

15

In [92]:
#caseid를 통해 매칭해볼 수 있다. (값 조회 가능)
resp[resp["caseid"] == 2298]  #caseid가 2298인 데이터의 값 출력

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

In [93]:
preg[preg["caseid"] == 2298 ] 
#2298번이 총 4번 답변하였음을 알 수 있다.

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg,totalwgt_kg2
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.118448,3.118448
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.494758,2.494758
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.899418,1.899418
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.118448,3.118448

In [96]:
#첫번째 답변자의 나이를 알고 싶은 경우?
resp[resp["caseid"]==2298]["age_r"] #27살임을 알 수 있다..

0    27
Name: age_r, dtype: int64

In [97]:
preg[preg["caseid"]==2298]["prglngth"] #총 4번 임신했음을 알 수 있다

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

In [99]:
#2298번의 첫번째 아이의 태어날떄의 몸무게는?
preg[preg["caseid"]==2298]["birthwgt_lb"].iloc[0]
#특정 칼럼의 값들로 원하는 값을 리턴해올 수 있다

6.0

In [100]:
preg["caseid"]==2298
#판다스에서 연산시 false value는 제외하고 마스크해서 true값만 남겨 보여준다

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
13563    False
13564    False
13565    False
13566    False
13567    False
13568    False
13569    False
13570    False
13571    False
13572    False
13573    False
13574    False
13575    False
13576    False
13577    False
13578    False
13579    False
13580    False
13581    False
13582    False
13583    False
13584    False
13585    False
13586    False
13587    False
13588    False
13589    False
13590    False
13591    False
13592    False
Name: caseid, Length: 13593, dtype: bool

In [103]:
#평균적으로 첫째아이가 늦게 태어나는지?
preg[preg["birthord"] == 1 ]["prglngth"].mean() #태어난 순서가 1인 아이의 평균 임신기간

38.60095173351461

In [104]:
preg[preg["birthord"] > 1 ]["prglngth"].mean()

38.52291446673706